* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}

li {
    list-style: none;
}

.title {
    font-family: 'Raleway';
}

.desc,
.text {
    font-family: 'Nunito Sans';
}

.card {
    outline: none !important;
    border: none !important;
}

/* header */
.header .top {
    padding: 20px 28px;
    border: 1px solid #0000001a;
}

.header .top .logo {
    color: #22202E;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.header .bottom {
    padding: 20px 0;
}

.header .bottom a {
    color: #726E8D;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* hero */
.hero {
    padding: 60px 0;
}

.hero .left {
    background: #2A254B;
    padding: 60px 0 60px 60px;
    padding-right: 98px;
}

.hero .left .title {
    max-width: 513px;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 41px;
    color: #fff;
}

.hero .left .btn {
    background: #f9f9f926;
    border-radius: 0;
    padding: 16px 32px;
    color: #fff;
}

.hero .left p {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
}

/* different brand */
.brand {
    padding: 60px 0 86px;
}

.brand .title {
    text-align: center;
    color: #2A254B;
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 51px;
}

.brand .wrapper {
    display: flex;
    gap: 58px;
}

.brand .wrapper .card {
    color: #2A254B;
    width: 270px;
    display: inline-flex;
    flex-direction: column;
}

.brand .wrapper .card h1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    margin: 16px 0 8px;
}

.brand .wrapper .card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}


/* ceramics  */
.ceramics {
    padding: 80px 0 56px;
    color: #2A254B;
}

.ceramics .title {
    margin-bottom: 33px;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
}

.ceramics .wrapper .card .image {
    width: 305px;
    height: 375px;
    overflow: hidden;
}

.ceramics .wrapper .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ceramics .wrapper .desc {
    margin: 24px 0 8px;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
}

.ceramics .wrapper .cost {
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.ceramics .btn {
    margin: 51px auto 0;
    padding: 16px 32px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    background: #F9F9F9;
}


/* products */
.products {
    padding: 64px 0 48px;
}

.products .title {
    color: #2A254B;
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 25px;
}

.products .card img:nth-child(1) {
    height: 375px !important;
}

.products .card img {
    border-radius: 0;
}

.products .card .desc {
    color: #2A254B;
    font-family: 'Raleway';
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    margin: 24px 0 8px;
}

.products .card .cost {
    color: #2A254B;
    font-family: 'Nunito Sans';
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin: 0;
}

.products .btn {
    margin: 42px auto 0;
    padding: 16px 32px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    background: #F9F9F9;
}

/* info */
.info {
    background-color: #f9f9f9;
    padding: 52px 0 65px;
}

.info .container {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 68px 0 54px;
}

.info .title {
    font-family: "Raleway";
    color: #2A254B;
    font-size: 36px;
}

.info .text {
    font-family: "Nunito Sans";
    color: #2A254B;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 72px;
    max-width: 470px;
}

.info .input-btn {
    display: flex;
}

.info input {
    width: 354px;
    padding-left: 32px;
    opacity: 0.2;
}

.info .btn {
    background-color: #2A254B;
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    color: #fff;
    border-radius: 0;
}


/* get in touch */
.get-touch .left {
    padding: 72px 100px 54px 84px;
}

.get-touch .left h1 {
    color: #2A254B;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
}

.get-touch .left p {
    margin-top: 25px;
    color: #505977;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.get-touch .left .btn {
    width: 155px;
    padding: 16px 32px;
    background: #f9f9f9;
    color: #2A254B;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.get-touch .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}